{
  "port": 0,
  "address": "unix:///run/jabali-filebrowser/fb.sock",
  "database": "/var/lib/jabali-filebrowser/filebrowser.db",
  "log": "stdout",
  "root": "/home",
  "auth": {
    "method": "proxy",
    "header": "X-Forwarded-User"
  },
  "defaults": {
    "scope": "/home/{$USERNAME}",
    "locale": "en",
    "viewMode": "list",
    "singleClick": false,
    "sorting": {"by": "name", "asc": true},
    "perm": {
      "admin": false,
      "execute": false,
      "create": true,
      "rename": true,
      "modify": true,
      "delete": true,
      "share": false,
      "download": true
    },
    "commands": [],
    "hideDotfiles": false
  },
  "commands": {
    "after_copy": [],
    "after_save": [],
    "after_rename": [],
    "after_upload": [],
    "before_copy": [],
    "before_save": [],
    "before_rename": [],
    "before_upload": []
  }
}
